* {
    padding: 0;
    margin:0;
}

body {
    background-color: #11151C;
    color: #D66853;
    font-family: sans-serif;
    font-size: 18px;
}

.cabecalho {
    height: 130px;
}

.principal section {
    text-align: center;
    margin: auto;
    padding: 50px;
}

.principal section p {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 30px;
}

.principal section img {
    width: 30%;
    margin-bottom: 30px;
}
