body {
    background-color: #1F363D;

}

figure {
    background-attachment: fixed;

}

img {
    display: block;
    opacity: 0.7;
    position: absolute;
    right: 0px;
    width: 500px;
    height: 500px;
    margin: 30px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
}


img:hover {
    opacity: 1;
}

#Name {
    font-display: block;
    position: absolute;
    right: 0px;
    font-size: 35px;
    font-family: serif;
    color: #AA998F;
}

nav {
    color: #D66853;
}