/* as referencias de estilo deste portifolio foram consultadas no site https://www.w3schools.com/css/*/

body {
    background-color: #1F363D;

}

figure {
    display: block;
    position: absolute;
    margin: 30px;
    right: 0px;
    width: 450px;
}

figure img {
    width: inherit;
    height: 500px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    opacity: 0.8;
}

img:hover {
    opacity: 1;
}

figcaption {
    font-size: 40px;
    color: #9EC1A3;
}

.menu {
    color: lightblue;
    font-size: 20px;
    list-style-type:none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    padding: 10px;    
}