body {
    background-image: linear-gradient(#97A97C, #E9F5DB);
    font-size: 18px;
    margin-left: 10px;
    font-family: sans-serif;
}

nav {
    border: 4px hidden #8F9491;
    font-size: 18px;
    display: flex;
}

div {
    display: flex;
    align-items: top;
   border: 4px solid #3F4238;
}

/* Estudante Desenvolvimento WEB*/

b {
    color: #1F363D;
    font-size: 22px;
    margin-top: 15px;
    text-align: left;
}

/*Foto perfil*/

.image {
    width: 400px;
    height: 300px;
    margin-top: 15px;
    margin-left: 30px;
    border-radius: 280px;
}

/*Descricao ao lado da foto*/

.description {
    font-size: 22px;
    margin-left: 15px;
    align-text: justify;
    margin-top: 30px;
}

.trybe {
    width: 18px;
    height: 18px;
}

/*meu nome*/

#name{
    color: #1F363D;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
}

h4 {
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #1F363D;;
}















