* {
    padding: 0;
    margin:0;
}

body {
    background-color: #212529;
    font-family: sans-serif;
    font-size: 18px;
}

.cabecalho {
    background-image: url("./Imagens/Fundo_Header.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
}

.principal {
    height: 511px;
}

.referencias {
    background: #495057;
    height: 400px;
    width: 100%;
}

.rodape {
    height: 55px;
}