body {
    background-color: #CFE0C3;
    font-size: 20px;
}

#name{
    color: #1F363D;
}

#image {
    border-radius: 30px;
}

#image_legend {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1F363D;;
}

.description {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h4 {
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #1F363D;;
}

nav {
    border: 3px solid #40798C;
}