/* as referencias de estilo deste portifolio foram consultadas no site https://www.w3schools.com/css/*/

body {
    background-color: #1F363D;

}

main {
    display: flex;
}
section {
    flex: 1;

}

section > p {
    color: #40798C;
    font-size: 20px;
    font-family: italianno, sans-serif;
}

figure {
    margin: 40px;
    width: 450px;
}

figure img {
    width: inherit;
    height: 500px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    opacity: 0.8;
    border: 6px dotted #9EC1A3;
}

img:hover {
    opacity: 1;
}

figcaption {
    font-family: italianno, sans-serif;
    font-size: 40px;
    color: #9EC1A3;
}

nav {
    color: lightblue;
    font-size: 20px;
    list-style-type:none;
    margin-top: 20px;
    padding: 2px;
    border-bottom: 3px solid #40798C;
    background: #CFE0C3;
}
    
li {
    display: inline;
    padding: 15px;   
}

.menu {
    text-decoration: none;
}

