* {
    padding: 0;
    margin: 0;
}

body {
    background:linear-gradient(to right, rgba(50,0,0,0), rgba(0,0,0,0.8));
    font-size: 18px;
    font-family: sans-serif;
}

main {
    height: 1560px;
    margin: 20px;
    width: 1560px;
}

#name {
    margin: auto;
    text-align: center;
}

.header {
    margin: 20px;
    padding: 30px;
    position: sticky;
}

.nav-bar>ul {
    list-style: none;
}

.nav-bar>ul>li {
    display: inline;
    padding: 10px;
}

nav>ul>li>.list-header {
    color: black;
    font-family: font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: bolder;
    text-decoration: none;
}

.nav-bar>ul>li>a:active {
    color: beige;
}

/* Sobre mim, bloco de informações*/

.about {
    display: flex;
}

/*informações de formação*/

.student {
    border: 3px solid black;
    margin: 20px;
    padding: 10px;
}

/*logo Trybe*/
.trybe {
    border: 3px solid black;
    margin: 20px;
    padding: 10px;
}

/*descri*/

.description {
    border: 3px solid black;
    margin: 20px;
    padding: 10px;
}