* {
    padding: 0;
    margin: 0;
}

body {
    background-image: 
    font-size: 18px;
    font-family: sans-serif;
}

main {
    height: 1560px;
    margin: 20px;
    width: 1560px;
}

.header {
    border: 4px solid black;
    margin: 20px;
    padding: 30px;
    position: sticky;
}

.nav-bar>ul {
    list-style: none;
}

.nav-bar>ul>li {
    display: inline;
    padding: 10px;
}

nav>ul>li>.list-header {
    color: black;
    font-family: font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: bolder;
    text-decoration: none;
}

.nav-bar>ul>li>a:active {
    color: beige;
}

.about {
    display: flex;
}