* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    background: #90E0EF;
    font-family: Arial, Helvetica, sans-serif;
}

/* Cabecalho página - header / h1 / nav / li / a */

.cabecalho {
    display: block;
    top: 0;
    left: 0;
    position: fixed;
    text-align: center;
    right: 0;
}

body>header>h1 {
    background-color: #023E8A;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    color: #CAF0F8;
    padding: 30px;
}

.nav-bar {
    background: #CAF0F8;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

header>section>nav>li {
    display: inline-block;
    padding: 10px;
}

.link {
    color: #023E8A;
    font-weight: bolder;
    font-weight: 18px;
    margin-left: 100px;
    text-decoration: none;
    padding:10px;
}

.link:hover {
    background:#EADDE1 ;
}

/* Pagina principal*/

main {
    margin: 0 auto;
    margin-top: 180px;
    padding: 15px;
    max-width: 1366px;
}

/* Titulo - Visao Geral*/

main>header>section>h2 {
    color: #03045E;
    font-size: 30px;
    margin-bottom: 30px;
    font-family: 'Oswald', sans-serif;
    
}

/* Paragrafos pagina principal*/

main>header>section>div>p {
    line-height: -15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;
    margin-bottom: 30px;
}

/* Palavras em destaque no texto pagina principal*/

.overview>p>strong {
    color: #023E8A;
    font-family: 'Oswald', sans-serif;
}

/* Links do texto da Pagina principal*/

.overview>p>span {
    color: crimson;
    text-decoration: none;
}

.overview>p>a:hover {
    background: #EADDE1;
}

/* Figuras centrais junto com tabela*/

.figure {
    align-items: flex-start;
    justify-content: space-between;
    display: flex;
    padding: 60px 0;
}

/* Figura central 1*/

.figure1>figure>img {
    margin-left:10px;
    max-width: 550px;
    max-height: 400px;
}

/* Figura central 2*/

.figure2>figure>img {
    margin-right:10px;
    width: 535px;
    height: 345px;
}

/* Tabela central*/

.table {
    font-size: 15px;
    line-height: -6px;
    margin-left: 30px;
    margin-right: 20px;
}

.table>h3 {
    font-size: 21px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.table>p {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: left;
}

.table>table {
    font-size: 20px;
    line-height: -15px;
    text-align: left;
}

.table>table>tr>td {
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
}

/* Titulo - Descricao */

article>.title-article-1{
    color: #03045E;
    font-size: 30px;
    margin-bottom: 30px;
    font-family: 'Oswald', sans-serif;
}

/* Secao textos - Descricao*/

.description {
    display: flex;
}

.text-description>p {
    line-height: -15px;
    font-size: 20px;
    text-align: justify;
    margin-right: 15px;
    margin-bottom: 30px;
}
.text-description2>p {
    line-height: -15px;
    font-size: 20px;
    text-align: justify;
    margin-bottom: 40px;
}

/* Foto - Descricao */

.foto-description>figure>img {
    float: right;
}

.foto-description>figure>figcaption {
    font-style: italic;
    font-family: 'Oswald', sans-serif;
}

/* Palavras em destaque - Descricao*/

.text-description>p>strong{
    color: #023E8A;
    font-family: 'Oswald', sans-serif;
}

/* Titulo Socos de outro mundo*/

.title-article-2{
    color: #03045E;
    font-size: 25px;
    margin-bottom: 30px;
    font-family: 'Oswald', sans-serif;
}

.interesting-facts1 {
    display: flex;
}

/* texto - Socos de outro mundo*/

.interesting-facts1>div>p {
    line-height: -15px;
    font-size: 20px;
    text-align: justify;
    margin-left: 15px;
    margin-bottom: 40px;
}

/* foto - Socos de outro mundo*/

.interesting-facts1>div>figure>img {
    width: 340px;
    height: 260px;
}

.foto-fact-soco>figure>img {
    float: left;
}

.interesting-facts1>div>figure>figcaption {
    font-style: italic;
    font-family: 'Oswald', sans-serif;
}

/* Titulo Super Visao*/

.title-article-3{
    color: #03045E;
    font-size: 25px;
    margin-bottom: 30px;
    font-family: 'Oswald', sans-serif;
}

.interesting-facts2 {
    display: flex;
}

/* texto - Super Visao*/

.interesting-facts2>div>p {
    line-height: -15px;
    font-size: 20px;
    text-align: justify;
    margin-left: 15px;
    margin-bottom: 40px;
}

/* foto - Super Visao*/

.interesting-facts2>div>figure>img {
    width: 330px;
    height: 230px;
}

.foto-fact-vision>figure>img {
    float: left;
}

.interesting-facts2>div>figure>figcaption {
    font-style: italic;
    font-family: 'Oswald', sans-serif;
}

/* Titulo - Outros Fatos Curiosos */

.article-other-facts>h4 {
    color: #03045E;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: 'Oswald', sans-serif;
}

.others-facts1 {
    display: flex;
    margin-bottom: 20px;
}

.text-others-facts1>ul>li {
    line-height: -15px;
    font-size: 20px;
    list-style-type: square;
    text-align: justify;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;
}

.foto-others-facts1>figure>img {
    float: right;
    width: 330px;
    height: 215px;
}

.foto-others-facts1>figure>figcaption {
    font-style: italic;
    font-family: 'Oswald', sans-serif;
}

.others-facts2 {
    display: flex;
}

.text-others-facts2>ul>li {
    line-height: -15px;
    font-size: 20px;
    list-style-type: square;
    text-align: justify;
    margin-left: 30px;
    margin-bottom: 40px;
}

.foto-others-facts2>figure>img {
    float: left;
    width: 330px;
    height: 238px;
}

.foto-others-facts2>figure>figcaption {
    font-style: italic;
    font-family: 'Oswald', sans-serif;
}

/* Video */

.aside-video {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom:30px;
}

.aside-video>iframe {
width: 600px;
height: 400px;
}

/* Referencias */

.references {
    margin-bottom:20px;
    padding:30px;
    background-color: #ADE8F4;
}

.references>h4{
    color: #023E8A;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: 'Oswald', sans-serif;
}

.list-references>ol>li {
    color:#023E8A;
    font-size: 17px;
    text-align: justify;
    margin-left: 15px;
    line-height:-20px
}

/* Rodape */

footer {
    font-family: 'Oswald', sans-serif;
    background: #EADDE1;
    padding:15px;
}

footer>p {
    color: #432E36;
    text-align: center;
}

footer>p>span {
    font-weight: bold;
}